@import url(/assest/root/root.css);
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

/* font-size */
.fs-20 {
    font-size: var(--fs-20);

}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-10 {
    font-size: var(--fs-10);

}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-39 {
    font-size: var(--fs-39);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-61 {
    font-size: var(--fs-61);
}

/* font-weight */
.fw-700 {
    font-weight: var(--fw-700);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-800 {
    font-weight: var(--fw-800);
}

/* color */
.white {
    color: var(--white);
}

.orange {
    color: var(--orange) !important;
}

.bs-black {
    color: var(--bs-black);
}

.orange2 {
    color: var(--orange2);
}

.white1 {
    color: var(--white1);
}

/* font-famil */
.ffp {
    font-family: var(--ffp);
}

.ffw {
    font-family: var(--ffw) !important;
}

.bg-orange {
    background-color: #FFF7F4;
}

.curser {
    cursor: pointer;
}

.bg-img {
    background-image: url(../img/bgimg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pt-110 {
    padding-top: 110px;
}

.card1 {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 66px 0px rgba(0, 0, 0, 0.04);
    height: 100%;
}

.card1:hover {
    border-radius: 8px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
    color: #FFF7F4;
    transition: all 500ms linear !important;
    transform: translate(-2%, -30%);
}

.card1:hover p {
    color: #FFF;
    transition: all 400ms linear;
}

.card1:hover h2 {
    color: #FFF;
    transition: all 400ms linear;
}

.svg:hover svg path {
    fill: #fff !important;
    transition: all 200ms linear;
}

.max-257 {
    max-width: 257px;
}

.max-215 {
    max-width: 215px;
}

.max-218 {
    max-width: 218px;
}

.pb-50 {
    padding-bottom: 50px;
}

.btn1 {
    padding: 12px 37px;
    border-radius: 30.5px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: none;
    cursor: pointer;
}

.btn2:hover {
    background: linear-gradient(97deg, #8256F0 19.58%, #6D2904 86.99%);
    color: orange;
    transition: all 400ms linear;
}
.btn1:hover {
    background: linear-gradient(97deg, #8256F0 19.58%, #6D2904 86.99%);
    color: orange;
    transition: all 400ms linear;
}


.mb-180 {
    margin-bottom: 180px;
}
.width-183{
    width: 183px !important;
}

.pt-51 {
    padding-top: 51px;
}

.slider-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 66px 0px rgba(0, 0, 0, 0.04);
}

.max-484 {
    max-width: 484px;
}

.btn2 {
    padding: 12px 37px;
    border-radius: 30.5px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: none;
    cursor: pointer;
}

.pt-191 {
    padding-top: 191px;
}

.card2 {
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.card3 {
    /* border-radius: 10px; */
    background: #FFF;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
}

.pb-142 {
    padding-bottom: 142px;
}

.card4 {
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
}

.pt-295 {
    padding-top: 295px;
}

.pt-73 {
    padding-top: 73px;
}

.card-box {
    width: 225px;
    height: 34px;
    border-bottom: 1px solid black;
}

.card-box2 {
    max-width: 465px;
    height: 34px;
    border-bottom: 1px solid black;
}

.card-box3 {
    max-width: 465px;
    height: 71px;
    border-bottom: 1px solid black;
}

.card1-bgimg {
    background-image: url(../img/card-bgimg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.pt-227 {
    padding-top: 227px;
}

.mb-121 {
    padding-bottom: 121px;
}

.text {
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.max-758 {
    max-width: 756px;
}

.pt-129 {
    padding-top: 40px;
}

.btn3 {
    border-radius: 30.5px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 12px 38px 13px 37px;
    border: none;
    cursor: pointer;

}

.sun {
    position: absolute;
    top: 46%;
    right: -4%;
}

.arrow {
    position: absolute;
    top: 72%;
    left: 13%;
}

.prevbtn {
    position: absolute;
    top: 48%;
    left: 4%;
    cursor: pointer;
}

.nextbtn {
    position: absolute;
    top: 48%;
    right: 4%;
    cursor: pointer;
}

.victer {
    position: absolute;
    top: 32%;
    left: 8%;
}

.liniyer {
    position: absolute;
    top: 32%;
    left: 8%;
}

.corse {
    position: absolute;
    top: 26%;
    right: 10%;
}

.corse2 {
    position: absolute;
    top: 35%;
    right: 30%;
}

.max-108 {
    width: 108% !important;
}

.ellipse1 {
    position: absolute;
    top: 7%;
    right: 6%;
}

.ellipse2 {
    position: absolute;
    top: 7%;
    right: 4%;
}

.bg-footer {
    background-image: url(../img/Union.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pr {
    max-width: 430px;
}

.pt-150 {
    padding-top: 150px;
}

.circle1 {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
}

.card1:hover .circle1 {
    background: #FFF;
}

.card1:hover .circle1 svg path {
    fill: orange;
}

.line {
    width: 44px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #fd9b2b 0%, #f14f09 100%), #fff !important;
    height: 1px;
}

.ellipse-16 {
    right: 0;
    bottom: 0;
}

.ellipse-15 {
    right: 0;
    bottom: 0;
}

.ellipse-442 {
    position: absolute;
    left: 0;
    bottom: 17%;
}

.ellipse-443 {
    position: absolute;
    left: 4%;
    bottom: 12%;
}

.ellipse-441 {
    position: absolute;
    left: 1%;
    bottom: -1%;
}

.ellipse-445 {
    position: absolute;
    right: 8%;
    top: 46%;
}

.ellipse-444 {
    position: absolute;
    right: 6%;
    top: 32%;
}

.curser {
    cursor: pointer;
}

.vector1 {
    position: absolute;
    bottom: 30%;
    left: -5%;
}
.width-70{
    width: 70%;
}

@media (max-width:992px) {
    label[for="menu-icon"] {
        width: 30px;
        height: 22px;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 3;

    }

    label[for="menu-icon"]>span {
        border-radius: 2px;
        background-color: red;
        display: block;
        height: 5px;
        width: 100%;

    }

    ul.mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: fixed;
        background-image: url(../img/Image5.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        gap: 10px;
        top: 0;
        left: -100%;
        transition: all 300ms linear;
        display: none;
        z-index: 2;

    }

    input[type="checkbox"]:checked+ul {
        background-color: white;
        display: flex;
        left: 0;
        z-index: 1;

    }
}